.navbar {
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 1em;
}

.navbar h1 {
  color: black;
  font-size: 500;

  border-radius: 1em;
  padding: 0.1em 1em;
  margin: 0.2em 0.2em;
}
