h1,
h2,
p {
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(3em);
  box-shadow: 0px 0px 0.2em 0px rgba(0, 0, 0, 1);

  color: rgb(255, 255, 255);
  font-size: medium;
  font-weight: 500;

  border-radius: 1em;
  padding: 0.2em 1em;
}

a:link {
  color: cyan;
}

/* visited link */
a:visited {
  color: cyan;
}

/* mouse over link */
a:hover {
  color: rgb(211, 178, 129);
}

/* selected link */
a:active {
  color: palevioletred;
}
