.home {
  width: 90vw;
}

.home p span {
  color: black;
  border: 0.1em black solid;
  border-radius: 1em;
  padding: 0.1em 0.8em;
}

.home a {
  color: black;
  border: 0.1em black solid;
  border-radius: 1em;
  padding: 0.1em 0.8em;

  text-decoration: none;
}

.home a:hover {
  background-color: white;
}
